@page
@model Info_Management_Web.Pages.Management.IndexModel
@{
    Layout = "_Layout_Management";
}
<div class="welcome-container">
    <div class="welcome-content">
        <div class="logo-container-management">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/a466456ef5255b4c714d46d1433492ca33e2dff46a94a6e3662da80047fdb143?placeholderIfAbsent=true&apiKey=d4effe3ceacd4f4784b6120101111dc6" class="logo-management" alt="Logo Khoa Công nghệ Thông tin" />
        </div>
        <div class="welcome-text-container">
            <h2 class="welcome-heading">CHÀO MỪNG ĐẾN VỚI HỆ THỐNG QUẢN LÝ WEBSITE KHOA CÔNG NGHỆ THÔNG TIN</h2>
        </div>
    </div>
</div>